# ===== DATABASE (PostgreSQL) =====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=statistics_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Async URL (FastAPI uchun)
DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@localhost:5432/statistics_db

# Sync URL (Alembic uchun)
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:your_password_here@localhost:5432/statistics_db

# ===== APPLICATION =====
APP_NAME=Statistics Platform API
APP_VERSION=1.0.0
DEBUG=True

# ===== SECURITY =====
SECRET_KEY=generate-a-secure-random-key-here
